polkit.addRule(function(action, subjct)) {
    if (action.id == "org.freedesktop.login1.suspend" ||	
        action.id == "org.freedesktop.login1.hibernate" || 
	action.id == "org.freedesktop.login1.power-off" ||
	action.id == "org.freedesktop.login1.reboot")
    {
        if (subject.isInGroup("i3_power")) {
            return polkit.Result.YES;  	
	} else {
 	    return polkit.Result.AUTH_ADMIN;
	}
    }

}
